/* default css */

* {
  background-color: black;
  color: aliceblue;
  font-size: large;
  font-family: "Roboto";
}

.main-container {
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  column-gap: 5vw;
  height: max-content;
}

.new-game {
  grid-column: span 3;
  padding: 1vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border-radius: 25px;
  border: solid aliceblue 3px;
}

.play-instructions {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  grid-column: span 2;
  margin-top: 3vh;
}

.battleship-grid-player-one,
.battleship-grid-player-two {
  display: grid;
  grid-template-rows: repeat(11, 50px);
  grid-template-columns: repeat(10, 50px);
  margin-bottom: 0;
  padding-bottom: 0;
  height: max-content;
}

.battleship-grid-player-one > div,
.battleship-grid-player-two > div {
  border: 1px aliceblue solid;
}

.player-one-header,
.player-two-header {
  grid-column: span 10;
  border: 0 !important;
  justify-self: center;
}

.ships-container{
  display: grid;
  align-self: center;
  row-gap: 3vh;
}

.drag-and-drop-ships-container{
  display: grid;
  /* grid-template-columns: 50px 50px 50px 50px 50px; */
  grid-template-rows: repeat(4, 50px);
  row-gap: 1vh;
  border: solid 3px aliceblue;
  padding: 5px;
}

.ship-five-container{
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
}

.ship-five{
  grid-column: span 5;
  grid-row-start: 1;
  grid-column-start: 1;
  height: 40px;
  width: 240px;
  background: red;
  border-top: dashed white 3px;
  border-bottom: dashed white 3px;
  border-left: dashed white 3px;
  border-radius: 25px;
  border-right: dashed white 3px;
  position: fixed;
}

.ship-four-container{
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
}

.ship-four{
  grid-column: span 4;
  grid-row-start: 2;
  grid-column-start: 1;
  height: 40px;
  width: 200px;
  background: red;
  border-top: dashed white 3px;
  border-bottom: dashed white 3px;
  border-left: dashed white 3px;
  border-radius: 25px;
  border-right: dashed white 3px;
  position: fixed;
}

.ship-three-container{
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
}

.ship-three{
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-column: span 3;
  grid-row-start: 3;
  grid-column-start: 1;
  height: 40px;
  width: 160px;
  background: red;
  border-top: dashed white 3px;
  border-bottom: dashed white 3px;
  border-left: dashed white 3px;
  border-radius: 25px;
  border-right: dashed white 3px;
  position: fixed;
}

.ship-two-container{
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
}

.ship-two{
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-column: span 2;
  grid-row-start: 4;
  grid-column-start: 3;
  height: 40px;
  width: 120px;
  background: red;
  border-top: dashed white 3px;
  border-bottom: dashed white 3px;
  border-left: dashed white 3px;
  border-radius: 25px;
  border-right: dashed white 3px;
  position: fixed;
}