/* default css */

* {
  background-color: black;
  color: aliceblue;
  font-size: large;
  font-family: "Roboto";
}

.main-container {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.new-game {
  grid-column: span 2;
  padding: 1vh;
}

.play-instructions {
  grid-column: span 2;
}

.battleship-grid-player-one, .battleship-grid-player-two {
  display: grid;
  grid-template-rows: repeat(10, 50px);
  grid-template-columns: repeat(10, 50px);

}

.battleship-grid-player-one > div, .battleship-grid-player-two > div  {
  border: 1px aliceblue solid;
}